@media only screen and (max-width: 688px) {
  /* header section-------------------------------------------------- */
  .live-match {
    flex-direction: column;
  }
  .live-match-links {
    text-align: center;
  }
  .live-match-links h1 {
    font-size: 1.8em;
}
.live-match-links p {
    font-size: 14px;
    margin-top: 2em;
}
  .main-section {
    flex-direction: column;
  }
  .match-news {
    width: 100%;
  }
  .match-blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs{
    height: 500px;
    margin-top: 20px;
  }
  .blog-article {
    padding: 2% 3%;
}
  .transfer-time{
    margin-top: 0;
  }
}
