/* page-2 css--------------------------------------- */
.blogs{
    padding: 5%;
}
.flag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flag img{
    width: 100%;
}
.flag span{
    margin-left: 2%;
    margin-right: 2%;
}
.team-name p{
   font-size: 10px;
   text-align: center;
}
.team-name h6{
    font-size: 1em;
    text-align: center;
}
.upcoming-btn{
     background: linear-gradient(rgba(224, 212, 212, 0.776), rgb(29, 146, 111));
}
.upcoming-btn:hover{
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}
.blog-btn{
    background: #ffffff;
}
.blog-btn:hover{
    background-color: #ffffff;
    color: #161616;
    border: none;
}
@media screen and (max-width:992px) {
    .upcoming-btn {
        border:none !important;
    }
    .blog-btn{
        border: 2px solid rgb(195, 187, 187);
    }
}