/* google fonts-------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Poppins&display=swap");

/* common styles-------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0 auto;
  overflow-x: hidden;
}
/* header styles---------------------------------------------------------- */
.header {
  padding: 3% 5%;
}
.live-match {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 10px;
  color: #ffffff;
}

.live-match-links,
.live-match-thumbnail {
  width: 50%;
  margin-top: 3%;
  margin-left: 3%;
}
.live-match-links h1 {
  font-size: 2.5em;
  font-weight: 700;
  transform: translateY(-100px);
  animation: textup 10s linear infinite;
}

.live-match-links p {
  font-size: 1em;
  font-weight: 400;
  transform: translateY(-100px);
  animation: textup 10s linear infinite;
}
@keyframes textup {
  10% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.live-match-thumbnail img {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;
}
.live-btn {
  background: linear-gradient(rgba(224, 212, 212, 0.776), rgb(29, 146, 111));
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin-top: 8%;
  margin-bottom: 1%;
}
.live-btn a {
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
  color: #161616;
  margin: 0 5px;
}
.live-btn:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.live-btn:hover a {
  color: #ffffff;
}
.live-btn:hover .arrow-right {
  transform: translate(0);
  animation: right-arrow 1s linear 0.5s 1;
}
@keyframes right-arrow {
  10% {
    transform: translate(12px);
  }
  25% {
    transform: translate(24px);
  }
  50% {
    transform: translate(36px);
  }
  75% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0);
  }
}

/* main section styles-------------------------------------------------- */
.main-section {
  padding: 3% 5%;
  display: flex;
}
.match-news {
  background-color: black;
  border-radius: 10px;
  height: 312px;
  width: 40%;
}
.updates-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30%;
}
.updates-links a {
  color: #161616;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  padding: 2% 8%;
  margin-top: 2%;
  border-radius: 10px;
}
.blog {
  background: linear-gradient(rgb(253, 252, 252), rgb(29, 146, 111));
}
.blog:hover {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.match-blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 0 1% 0 1%;
}
.blogs {
  width: 100%;
  border: 1px solid rgba(193, 190, 190, 0.818);
  border-radius: 10px;
}
.blogs:hover {
  box-shadow: 2px 10px 10px rgb(176, 172, 172);
}
.blog-thumbnail img {
  width: 100%;
}
.blog-article {
  padding: 10% 3%;
}
.transfer-link a {
  color: #161616;
  text-decoration: none;
  border: 1px solid #6a6262b8;
  padding: 0 5%;
}
.transfer-link a:hover {
  color: rgba(246, 1, 1, 0.845);
}
.transfer-link p {
  font-size: 1em;
  font-weight: 600;
  margin-top: 5%;
}
.transfer-time {
  display: flex;
}
.time {
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.time p {
  padding-left: 5%;
  color: #887979e4;
}
.massage {
  padding-left: 5%;
}
.view-all-btn {
  display: none;
  position: relative;
  left: 50%;
  text-decoration: none;
  background: linear-gradient(rgba(224, 212, 212, 0.776), rgb(29, 146, 111));
  text-align: center;
  padding: 2%;
  border-radius: 10px;
  color: #161616;
  font-weight: 600;
}
.upcoming-btn {
  background: #ffffff;
}
/* footer----------------------------------------------------- */
.footer {
  background-color: #000000;
  margin-top: 10%;
  padding-top: 2%;
}
.admin-contact {
  width: 80%;
  margin: 0 auto;
}
.admin-contact h2 {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  margin-top: 10%;
}
.admin-contact h2,
hr {
  margin-bottom: 2%;
}
.admin-links a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 10px;
}
.admin-links ul,
.admin-social-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.admin-links a:hover {
  color: #0f9d58;
}
.admin-social-links {
  margin-top: 3%;
  margin-bottom: 3%;
}
.admin-social-links a {
  border: 1px solid #ffffff;
  padding: 10% 20%;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  margin: 20px 20px;
  display: inline-block;
}
.admin-social-links a:hover {
  background-color: transparent;
  border: 1px solid #0f9d58;
}
.fa-facebook {
  color: #4267b2;
}
.fa-youtube {
  color: #ff0000;
}
.fa-google-play {
  color: #0f9d58;
}
