@media only screen and (min-width: 689px) and (max-width: 992px) {
  .main-section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .match-news {
    background-color: #ffffff;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
  }
  .match-news a {
    padding: 10px;
    border: 2px solid;
  }
  .updates-links {
    flex-direction: row;
  }
  .updates-links a {
    margin-left: 5%;
    margin-right: 5%;
  }
  .blog-btn-important {
    border: none !important;
  }
  .match-blogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-article {
    padding: 1% 3%;
  }
  .transfer-time {
    margin-top: 0;
  }
  .transfer-hide {
    display: none;
  }
  .view-all-btn {
    display: inline;
  }
  .admin-links ul,
  .admin-social-links ul {
    flex-wrap: wrap;
  }
}
